Repository populmap/populmap, pull requests merged in 2022-12, with the labels that each got.

#78 :sparkles: feat: Apply Auth Api to Login, SignUp, ChangePassword page
  frontend/img/google.svg
  frontend/img/kakao.svg
  frontend/img/naver.svg
  frontend/src/App.tsx
  frontend/src/components/atoms/buttons/LoginSumbitButton.tsx
  frontend/src/components/atoms/buttons/PasswordApiButton.tsx
  frontend/src/components/atoms/buttons/SignupSubmitButton.tsx
  frontend/src/components/atoms/inputs/InputInstance.tsx
  frontend/src/components/organisms/ChangePasswordForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/LoginNav.tsx
  frontend/src/components/organisms/OauthLoginNav.tsx
  frontend/src/components/templates/ChangePasswordTemplate.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/network/axios/axios.auth.ts
  frontend/src/pages/ChangePassword.tsx
  frontend/src/themes/muiCustomTheme.tsx
Labels: feat, frontend

#80 Pop 81 api 요청/가공/db 저장 구현
  backend/database/populmap.sql
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/city/city.controller.ts
  backend/src/city/city.module.ts
  backend/src/city/city.service.ts
  backend/src/city/repository/city.repository.interface.ts
  backend/src/city/repository/city.repository.ts
  backend/src/config/configuration.ts
  backend/src/constants/area.list.constant.ts
  backend/src/dto/city.people.place.data.dto.ts
  backend/src/dto/request/password.body.request.dto.ts
  backend/src/dto/response/city.accident.response.dto.ts
  backend/src/dto/response/city.people.response.dto.ts
  backend/src/dto/response/city.road.avg.response.dto.ts
  backend/src/entities/city.accident.entity.ts
  backend/src/entities/city.entity.ts
  backend/src/entities/city.people.entity.ts
  backend/src/entities/city.road.entity.ts
  backend/src/utils/kakao.search.component.ts
  backend/src/utils/realtime.city.data.component.ts
  backend/src/utils/test.controller.ts
  backend/src/utils/utils.module.ts
Labels: backend, feat

#83 :sparkles: event module과 submodule인 search, bookmark 뼈대 작성
  backend/src/app.module.ts
  backend/src/event/bookmark/event.bookmark.controller.ts
  backend/src/event/bookmark/event.bookmark.module.ts
  backend/src/event/bookmark/event.bookmark.service.ts
  backend/src/event/event.module.ts
  backend/src/event/search/event.search.controller.ts
  backend/src/event/search/event.search.module.ts
  backend/src/event/search/event.search.service.ts
Labels: backend, feat

#84 Dev
  backend/src/app.module.ts
  backend/src/city/city.controller.ts
  backend/src/event/bookmark/event.bookmark.controller.ts
  backend/src/event/bookmark/event.bookmark.module.ts
  backend/src/event/bookmark/event.bookmark.service.ts
  backend/src/event/event.module.ts
  backend/src/event/search/event.search.controller.ts
  backend/src/event/search/event.search.module.ts
  backend/src/event/search/event.search.service.ts
  frontend/src/components/atoms/buttons/LoginSumbitButton.tsx
  frontend/src/components/atoms/buttons/PasswordApiButton.tsx
  frontend/src/components/atoms/buttons/SignupSubmitButton.tsx
  frontend/src/components/organisms/ChangePasswordForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/OauthLoginNav.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/network/axios/axios.auth.ts
Labels: bug, backend

#85 Pop 85 ddl과 entity 작성
  backend/database/populmap.sql
  backend/src/entities/bookmark.entity.ts
  backend/src/entities/event.detail.entity.ts
  backend/src/entities/event.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/enums/progress.type.enum.ts
Labels: backend, feat

#86 :sparkles: feat: Add PasswordInput
  frontend/src/components/atoms/buttons/PasswordApiButton.tsx
  frontend/src/components/atoms/inputs/PasswordInput.tsx
  frontend/src/components/organisms/ChangePasswordForm.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/SignupForm.tsx
  frontend/src/network/axios/axios.auth.ts
Labels: feat, frontend

#88 Fe/city people api
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/network/axios/axios.city.ts
  frontend/src/network/axios/axios.density.ts
  frontend/src/types/dto/CityAccidentResponse.dto.ts
  frontend/src/types/dto/CityPeopleResponse.dto.ts
  frontend/src/types/dto/CityRoadAvgResponse.dto.ts
Labels: feat, frontend

#87 Fe/map filter
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/MapFilter.tsx
  frontend/src/themes/muiCustomTheme.tsx
Labels: feat, frontend

#93 :lipstick: feat: Modified OAuth Login Button style
  frontend/img/kakao.png
  frontend/img/kakao.svg
  frontend/img/naver.png
  frontend/img/naver.svg
  frontend/src/components/organisms/OauthLoginNav.tsx
Labels: frontend

#94 :bug: fix: Modified EventSummaryOverlay
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/redux/slices/mapSlice.ts
Labels: bug, frontend

#96 :sparkles: feat: Add CityMarker
  frontend/img/event.png
  frontend/src/components/organisms/CityMarker.tsx
  frontend/src/components/organisms/CityMarkerOverlay.tsx
  frontend/src/components/organisms/DensityMarker.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/network/axios/axios.city.ts
Labels: feat, frontend

#99 :sparkles: feat: Add CityAccidentApi
  frontend/src/components/organisms/CityAccidentMarker.tsx
  frontend/src/components/organisms/CityAccidentMarkerOverlay.tsx
  frontend/src/components/organisms/CityMarker.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/templates/MainTemplate.tsx
Labels: feat, frontend

#103 :bug: fix: Need Modify Api
  frontend/src/components/organisms/CityAccidentMarker.tsx
  frontend/src/components/organisms/CityMarker.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/MapNav.tsx
Labels: bug

#105 :bug: fix: Overlay lat,lng
  frontend/src/components/organisms/CityAccidentMarkerOverlay.tsx
  frontend/src/components/organisms/CityMarkerOverlay.tsx
  frontend/src/components/organisms/LoadMap.tsx
Labels: bug

#110 :sparkles: feat: Modified CityPeople, Accident Marker
  frontend/img/accident.png
  frontend/img/event.png
  frontend/img/greenCircle.png
  frontend/img/orangeCircle.png
  frontend/img/redCircle.png
  frontend/img/yellowCircle.png
  frontend/src/components/organisms/CityAccidentMarker.tsx
  frontend/src/components/organisms/CityAccidentMarkerOverlay.tsx
  frontend/src/components/organisms/CityMarker.tsx
  frontend/src/components/organisms/CityMarkerOverlay.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/types/dto/CityPeopleResponse.dto.ts
Labels: feat, frontend

#112 :sparkles: feat: Separate the search function and filter state of Loa…
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/MapFilter.tsx
  frontend/src/hooks/useKakaoSearch.ts
  frontend/src/redux/slices/mapSlice.ts
Labels: feat, frontend

#113 :construction: feat: Apply Login API
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/buttons/LoginSumbitButton.tsx
  frontend/src/components/atoms/buttons/LogoutItem.tsx
  frontend/src/components/atoms/buttons/PasswordApiButton.tsx
  frontend/src/components/atoms/buttons/PasswordAssertButton.tsx
  frontend/src/components/atoms/buttons/PasswordChangeButton.tsx
  frontend/src/components/atoms/buttons/PasswordFindButton.tsx
  frontend/src/components/atoms/buttons/SignupSubmitButton.tsx
  frontend/src/components/organisms/ChangePasswordForm.tsx
  frontend/src/components/organisms/FindPasswordForm.tsx
  frontend/src/components/organisms/HeaderMenu.tsx
  frontend/src/components/organisms/MapFilter.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/main.tsx
  frontend/src/network/axios/axios.auth.ts
  frontend/src/network/react-cookie/cookie.ts
  frontend/src/redux/slices/userSlice.ts
  frontend/src/redux/store.ts
Labels: feat, frontend

#115 :sparkles: feat: Apply redux persist
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/redux/store.ts
Labels: feat, frontend

#121 Fix: Prevent Touch Action about Header, Search, Nav Template
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/components/templates/SearchTemplate.tsx
  frontend/src/types/dto/EventDetailResponse.dto.ts
Labels: frontend

#123 Fix: EventOverlay, Detail Style
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/atoms/buttons/PageNavigateButton.tsx
  frontend/src/components/atoms/buttons/ShareButton.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/templates/ChangePasswordTemplate.tsx
  frontend/src/components/templates/DetailTemplate.tsx
  frontend/src/components/templates/FindPasswordTemplate.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/components/templates/SignupTemplate.tsx
Labels: frontend

#126 Fix: Apply Prettier
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/atoms/buttons/ShareButton.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
Labels: frontend

#127 Feat: Modified Nav position
  frontend/src/components/templates/NavTemplate.tsx
Labels: frontend

#129 Fe/find password
  frontend/src/components/atoms/buttons/PasswordFindButton.tsx
  frontend/src/components/templates/ChangePasswordTemplate.tsx
  frontend/src/components/templates/FindPasswordTemplate.tsx
  frontend/src/components/templates/ListTemplate.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/components/templates/SignupTemplate.tsx
  frontend/src/pages/Event.tsx
  frontend/src/pages/Main.tsx
  frontend/src/redux/slices/userSlice.ts
Labels: frontend

#131 feat: Add Header Home Icon
  frontend/src/App.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/components/templates/DetailTemplate.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/pages/Bookmark.tsx
  frontend/src/redux/store.ts
  frontend/src/types/dto/EventDetailResponse.dto.ts
Labels: frontend

#133 행사 조회 API 구현
  backend/src/dto/event.list.dto.ts
  backend/src/dto/response/event.pagination.response.dto.ts
  backend/src/event/repository/bookmark.repository.ts
  backend/src/event/repository/event.repository.interface.ts
  backend/src/event/repository/event.repository.ts
  backend/src/event/search/event.search.controller.ts
  backend/src/event/search/event.search.service.ts
Labels: backend

#135 Fe/event list
  frontend/src/components/atoms/selects/SelectInstance.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/SelectBox.tsx
  frontend/src/components/templates/ListTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/network/axios/axios.event.ts
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/types/dto/EventDetailResponse.dto.ts
Labels: feat, frontend

#136 /api/event/bookmark/post/:eventId 구현
  backend/src/entities/bookmark.entity.ts
  backend/src/entities/event.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/event/bookmark/event.bookmark.controller.ts
  backend/src/event/bookmark/event.bookmark.module.ts
  backend/src/event/bookmark/event.bookmark.service.ts
  backend/src/event/event.service.ts
  backend/src/event/repository/bookmark.repository.interface.ts
  backend/src/event/repository/bookmark.repository.ts
  backend/src/event/repository/event.repository.interface.ts
  backend/src/event/repository/event.repository.ts
Labels: backend

#137 EventSummary 그룹핑
  backend/src/dto/event.summary.dto.ts
  backend/src/dto/response/event.summary.group.response.dto.ts
  backend/src/event/event.module.ts
  backend/src/event/repository/event.repository.interface.ts
  backend/src/event/repository/event.repository.ts
  backend/src/event/search/event.search.controller.ts
  backend/src/event/search/event.search.service.ts
  backend/src/utils/toolbox.component.ts
  backend/src/utils/utils.module.ts
Labels: backend

#138 /api/event/bookmark/summary/filter/?=city/&=progress 구현 완료
  backend/src/event/bookmark/event.bookmark.controller.ts
  backend/src/event/bookmark/event.bookmark.service.ts
  backend/src/event/repository/bookmark.repository.interface.ts
  backend/src/event/repository/bookmark.repository.ts
Labels: backend

#139 Pop 94 bookmark list api
  backend/src/event/bookmark/event.bookmark.controller.ts
  backend/src/event/bookmark/event.bookmark.service.ts
  backend/src/event/repository/bookmark.repository.interface.ts
  backend/src/event/repository/bookmark.repository.ts
  backend/src/event/search/event.search.controller.ts
Labels: backend

#140 Pop 96 bookmark delete api
  backend/src/event/bookmark/event.bookmark.controller.ts
  backend/src/event/bookmark/event.bookmark.service.ts
  backend/src/event/repository/bookmark.repository.interface.ts
  backend/src/event/repository/bookmark.repository.ts
Labels: backend

#141 Fe/event list
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/atoms/selects/SelectInstance.tsx
  frontend/src/components/organisms/DetailBookmarkNav.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/components/organisms/EventCard.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/organisms/MapFilter.tsx
  frontend/src/components/organisms/MapNav.tsx
  frontend/src/components/organisms/SelectBox.tsx
  frontend/src/components/templates/DetailTemplate.tsx
  frontend/src/components/templates/FooterTemplate.tsx
  frontend/src/components/templates/ListTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/network/axios/axios.event.ts
  frontend/src/types/dto/EventPagiNationResponse.dto.ts
Labels: feat, frontend

#142 feat: Apply Bookmark api
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/atoms/selects/SelectInstance.tsx
  frontend/src/components/organisms/DetailBookmarkNav.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/components/organisms/EventCard.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/EventSummaryList.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/SelectBox.tsx
  frontend/src/components/templates/ListTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/network/axios/axios.event.ts
  frontend/src/types/dto/EventPagiNationResponse.dto.ts
  frontend/src/types/dto/EventSummaryResponse.dto.ts
Labels: feat, frontend

#143 Fe/city style
  frontend/src/components/organisms/CityMarkerOverlay.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/types/dto/CityPeopleResponse.dto.ts
  frontend/src/types/dto/CityRoadAvgResponse.dto.ts
Labels: frontend

#144 Pop 98 be 북마크에 추가된 행사인지 여부
  backend/src/auth/jwt/guard/jwt.optional.auth.guard.ts
  backend/src/dto/event.list.dto.ts
  backend/src/dto/event.summary.dto.ts
  backend/src/event/bookmark/event.bookmark.module.ts
  backend/src/event/repository/bookmark.repository.ts
  backend/src/event/repository/event.repository.interface.ts
  backend/src/event/repository/event.repository.ts
  backend/src/event/search/event.search.controller.ts
  backend/src/event/search/event.search.service.ts
Labels: backend

#147 Fe/bookmark marker
  frontend/img/bookmark.png
  frontend/img/homeLogo.ico
  frontend/img/titleLogo.ico
  frontend/index.html
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/atoms/buttons/LogoutItem.tsx
  frontend/src/components/atoms/buttons/PasswordAssertButton.tsx
  frontend/src/components/organisms/CityAccidentMarker.tsx
  frontend/src/components/organisms/CityAccidentMarkerOverlay.tsx
  frontend/src/components/organisms/CityMarker.tsx
  frontend/src/components/organisms/CityMarkerOverlay.tsx
  frontend/src/components/organisms/EventCard.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/EventSummaryList.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/SelectBox.tsx
  frontend/src/components/templates/DetailTemplate.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/ListTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/redux/slices/mapSlice.ts
  frontend/src/types/dto/CityPeopleResponse.dto.ts
  frontend/src/types/dto/EventDetailResponse.dto.ts
  frontend/src/types/dto/EventSummaryResponse.dto.ts
Labels: feat, frontend

#149 HTML Entity 문자를 decode하여 저장하도록 수정
  backend/src/event/repository/event.repository.ts
  backend/src/utils/toolbox.component.ts
Labels: bug, backend

#150 feat: Add pagination component
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/atoms/buttons/ShareButton.tsx
  frontend/src/components/organisms/CityAccidentMarkerOverlay.tsx
  frontend/src/components/organisms/CityMarkerOverlay.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/components/organisms/EventCard.tsx
  frontend/src/components/organisms/HeaderMenu.tsx
  frontend/src/components/organisms/Pagination.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/ListTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
Labels: feat, frontend

#152 fix: Modified Icon style
  frontend/img/bookmark.png
  frontend/img/event.png
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/Pagination.tsx
Labels: frontend

#153 feat: Add overlaySlice
  frontend/src/components/organisms/CityAccidentMarker.tsx
  frontend/src/components/organisms/CityMarker.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/templates/ContentTemplate.tsx
  frontend/src/redux/slices/mapSlice.ts
  frontend/src/redux/slices/overlaySlice.ts
  frontend/src/redux/store.ts
Labels: feat, frontend

#155 소셜 로그인 후 메인 페이지로 리다이렉트되도록 수정
  backend/src/auth/google/auth.google.controller.ts
  backend/src/auth/kakao/auth.kakao.controller.ts
  backend/src/auth/naver/auth.naver.controller.ts
Labels: bug, backend

#157 eventlist를 가져올 때 bookmark_id가 null인지 확인하도록 수정
  backend/src/event/repository/event.repository.ts
Labels: bug, backend

#158 Pop 104 transaction manage
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/city/city.service.ts
  backend/src/city/repository/city.repository.ts
  backend/src/event/event.service.ts
  backend/src/main.ts
  backend/src/utils/kakao.search.component.ts
Labels: enhancement, backend

#159 1시마다 이벤트 progress를 업데이트하는 스케줄러 추가
  backend/src/dto/event.progress.dto.ts
  backend/src/event/event.service.ts
  backend/src/event/repository/event.repository.interface.ts
  backend/src/event/repository/event.repository.ts
  backend/src/utils/event.information.data.component.ts
Labels: backend, feat
