Repository populmap/populmap, pull requests merged in 2022-11, with the labels that each got.

#3 Initial #2
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/config/configuration.ts
  backend/src/main.ts
Labels: backend, setting

#4 fe/devSetting
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.prettierrc
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: setting, frontend

#5 fe/kakaoMap: Apply KakaoMap API
  frontend/.eslintrc.cjs
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/map/GeolocationMap.tsx
  frontend/src/components/map/InitMap.tsx
  frontend/src/components/map/Marker.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.json
Labels: feat, frontend

#6 fe/Routing: Apply react-router-dom
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/map/Marker.tsx
  frontend/src/pages/Event.tsx
  frontend/src/pages/Main.tsx
Labels: feat, frontend

#7 Pop 23 type orm 설정
  backend/Dockerfile
  backend/database/init.sh
  backend/docker-compose.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/kakao/guard/kakao.guard.ts
  backend/src/auth/kakao/kakao.strategy.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/config/configuration.ts
  backend/src/config/typeorm.config.ts
  backend/src/decorator/user.decorator.ts
  backend/src/dto/user.dto.ts
  backend/src/dto/user.session.dto.ts
  backend/src/entities/auth.site.entity.ts
  backend/src/entities/auth.social.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/enums/login.type.enum.ts
  backend/src/enums/social.type.enum.ts
Labels: backend, feat

#8 feat: Apply Google Analytics
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/network/ga/gaTracker.ts
Labels: feat, frontend

#9 :package: feat: Apply emotion
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/styles/GlobalStyle.tsx
Labels: feat, frontend

#10 :sparkles: Modified GlobalStyle
  frontend/src/styles/GlobalStyle.tsx
Labels: frontend

#11 :sparkles: feat: Apply Axios
  frontend/package-lock.json
  frontend/package.json
  frontend/src/network/axios/axios.custom.ts
  frontend/src/network/axios/axios.instance.ts
Labels: feat, frontend

#12 Pop 49 nav template
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/map/InitMap.tsx
  frontend/src/components/templates/ContentTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/pages/Main.tsx
  frontend/src/styles/GlobalStyle.tsx
Labels: feat, frontend

#13 카카오 로그인 API 인증 구현 완료 #1
  backend/database/populmap.sql
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.kakao.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/guard/jwt.auth.guard.ts
  backend/src/auth/jwt/guard/jwt.sign.guard.ts
  backend/src/auth/jwt/jwt.strategy.ts
  backend/src/auth/kakao/kakao.strategy.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/config/configuration.ts
  backend/src/config/typeorm.config.ts
  backend/src/dto/user.dto.ts
  backend/src/dto/user.session.dto.ts
  backend/src/dto/user.social.dto.ts
  backend/src/entities/auth.site.entity.ts
  backend/src/entities/auth.social.entity.ts
  backend/src/enums/login.type.enum.ts
  backend/src/middleware/middleware.d.ts
  backend/src/middleware/session.middleware.ts
Labels: backend, feat

#14 :sparkles: feat: Add FooterTemplate
  frontend/src/components/templates/FooterTemplate.tsx
Labels: feat, frontend

#16 Pop 43 login page
  frontend/src/App.tsx
  frontend/src/components/atoms/buttons/FindUserInfoButton.tsx
  frontend/src/components/atoms/buttons/LoginButton.tsx
  frontend/src/components/atoms/buttons/SignupButton.tsx
  frontend/src/components/atoms/inputs/LoginInput.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/LoginNav.tsx
  frontend/src/components/templates/FooterTemplate.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Main.tsx
Labels: feat, frontend

#17 카카오 로그아웃과 네이버 로그아웃에서 호출되는 함수 분리
  backend/src/auth/auth.kakao.controller.ts
  backend/src/auth/auth.service.ts
Labels: bug, backend

#19 Pop 58 로그아웃 시 소셜 플랫폼 발행 토큰을 삭제하지 않도록 수정
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.google.controller.ts
  backend/src/auth/auth.kakao.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.naver.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google/auth.google.controller.ts
  backend/src/auth/google/google.strategy.ts
  backend/src/auth/google/guard/google.guard.ts
  backend/src/auth/jwt/guard/jwt.auth.guard.ts
  backend/src/auth/jwt/guard/jwt.sign.guard.ts
  backend/src/auth/jwt/jwt.strategy.ts
  backend/src/auth/kakao/auth.kakao.controller.ts
  backend/src/auth/kakao/guard/kakao.guard.ts
  backend/src/auth/kakao/kakao.strategy.ts
  backend/src/auth/naver/auth.naver.controller.ts
  backend/src/auth/naver/guard/naver.guard.ts
  backend/src/auth/naver/naver.strategy.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/config/typeorm.config.ts
  backend/src/decorator/user.decorator.ts
  backend/src/dto/user.session.dto.ts
  backend/src/entities/auth.site.entity.ts
  backend/src/entities/auth.social.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/middleware/session.middleware.ts
Labels: backend, feat

#20 Pop 59 사이트 자체 회원가입 및 로그인 구현
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/guard/jwt.sign.guard.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/auth/site/guard/local.guard.ts
  backend/src/auth/site/local.strategy.ts
  backend/src/dto/request/user.register.request.dto.ts
  backend/src/dto/user.session.dto.ts
  backend/src/dto/user.validate.dto.ts
  backend/src/entities/user.entity.ts
Labels: backend, feat

#21 :sparkles: feat: Modified port
  frontend/vite.config.ts
Labels: frontend

#22 Pop 43 login page
  frontend/src/components/atoms/buttons/LoginButton.tsx
  frontend/src/components/atoms/inputs/LoginInput.tsx
  frontend/src/components/map/InitMap.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/LoginNav.tsx
  frontend/src/components/templates/ContentTemplate.tsx
  frontend/src/components/templates/FooterTemplate.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/pages/Event.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Main.tsx
Labels: feat, frontend

#23 :sparkles: add nginx container
  backend/docker/docker-compose.yaml
  backend/docker/mariadb/Dockerfile
  backend/docker/nginx/Dockerfile
  backend/docker/nginx/nginx.conf
Labels: backend, feat

#25 Pop 48 mui
  frontend/src/components/map/InitMap.tsx
  frontend/src/components/map/Marker.tsx
  frontend/src/components/organisms/MarkedMap.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/main.tsx
  frontend/src/themes/muiCustomTheme.tsx
Labels: frontend

#27 Pop 35 fe kakao map
  frontend/img/logo.ico
  frontend/img/populmap.png
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/organisms/MarkedMap.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/vite.config.ts
Labels: feat, frontend

#28 :sparkles: feat: Add Add, Remove, MyLocation Icon
  frontend/src/components/atoms/buttons/MyLocationButton.tsx
  frontend/src/components/organisms/MarkedMap.tsx
  frontend/src/components/templates/MainTemplate.tsx
Labels: feat, frontend

#30 :package: feat: Modified dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#31 Dev to Main
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: backend, frontend

#32 :bug: feat: Modified package-lock.json
  frontend/package-lock.json
Labels: frontend

#33 main to dev
  .github/PULL_REQUEST_TEMPLATE.md
Labels: backend, frontend

#36 :package: feat: Modified vite setting
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: frontend

#38 :lipstick: feat: Modified template position style
  frontend/src/components/templates/ContentTemplate.tsx
  frontend/src/components/templates/FooterTemplate.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/components/templates/SignupTemplate.tsx
  frontend/src/pages/Event.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Signup.tsx
Labels: feat, frontend

#39 :sparkles: feat: Apply redux-toolkit && Add mapSlice
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/MarkedMap.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/main.tsx
  frontend/src/redux/hook.ts
  frontend/src/redux/slices/mapSlice.ts
  frontend/src/redux/store.ts
Labels: feat, frontend

#40 :sparkles: feat: Add mapSlice, MapLevelButton component
  frontend/.eslintrc.cjs
  frontend/src/components/atoms/buttons/MapLevelButton.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/MapNav.tsx
  frontend/src/redux/slices/mapSlice.ts
Labels: feat, frontend

#41 :sparkles: feat: Add MyLocationButton
  frontend/src/components/atoms/buttons/MyLocationButton.tsx
  frontend/src/components/atoms/map/LoadMap.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/templates/ContentTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/redux/slices/mapSlice.ts
Labels: feat, frontend

#42 :sparkles: apply serve static to front build
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  frontend/.gitignore
Labels: backend, setting, feat

#44 :sparkles: feat: UserMarker component
  frontend/src/components/atoms/map/UserMarker.tsx
Labels: feat, frontend

#45 :sparkles: feat: Add EventMarker
  frontend/src/components/atoms/map/EventMarker.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/types/dto/EventBasicInfoResponse.dto.ts
Labels: feat, frontend

#46 Pop 62 카카오 검색 api 추가
  backend/src/app.module.ts
  backend/src/dto/search.by.place.dto.ts
  backend/src/utils/kakao.search.component.ts
  backend/src/utils/test.controller.ts
  backend/src/utils/utils.module.ts
Labels: backend, feat

#49 :sparkles: feat: Modified EventMarker logic
  frontend/src/components/atoms/map/EventMarker.tsx
  frontend/src/components/atoms/map/EventSummaryOverlay.tsx
  frontend/src/components/organisms/LoadMap.tsx
Labels: feat, frontend

#51 :sparkles: feat: Add EventMarker focusing
  frontend/src/components/atoms/map/UserMarker.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/organisms/LoadMap.tsx
Labels: feat, frontend

#52 :lipstick: feat: Modified github a tag style
  frontend/src/components/templates/FooterTemplate.tsx
Labels: frontend

#55 :sparkles: feat: Add mapEnum
  frontend/src/redux/slices/mapSlice.ts
  frontend/src/types/enum/map.level.enum.ts
Labels: frontend

#56 Fe/search template
  frontend/.eslintrc.cjs
  frontend/src/components/atoms/buttons/FindUserInfoButton.tsx
  frontend/src/components/atoms/buttons/LoginSumbitButton.tsx
  frontend/src/components/atoms/buttons/MyLocationButton.tsx
  frontend/src/components/atoms/buttons/PageNavigateButton.tsx
  frontend/src/components/atoms/buttons/SignupButton.tsx
  frontend/src/components/atoms/inputs/InputInstance.tsx
  frontend/src/components/atoms/inputs/SearchInput.tsx
  frontend/src/components/organisms/DensityMarker.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/LoginForm.tsx
  frontend/src/components/organisms/LoginNav.tsx
  frontend/src/components/organisms/UserMarker.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/components/templates/SearchTemplate.tsx
  frontend/src/pages/Main.tsx
  frontend/src/redux/slices/mapSlice.ts
  frontend/src/themes/muiCustomTheme.tsx
  frontend/src/types/enum/map.level.enum.ts
Labels: feat, frontend

#57 :sparkles: feat: Add SearchBar
  frontend/src/components/atoms/buttons/InputDeleteButton.tsx
  frontend/src/components/atoms/inputs/SearchInput.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/SearchBar.tsx
  frontend/src/components/templates/LoginTemplate.tsx
  frontend/src/components/templates/SearchTemplate.tsx
  frontend/src/components/templates/SignupTemplate.tsx
  frontend/src/styles/GlobalStyle.tsx
Labels: feat, frontend

#59 :sparkles: feat: Add CustomOverlay
  frontend/.eslintrc.cjs
  frontend/src/App.tsx
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/atoms/buttons/PageNavigateButton.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/LoginNav.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/network/axios/axios.custom.ts
  frontend/src/pages/Detail.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/types/dto/EventSummaryResponse.dto.ts
Labels: feat, frontend

#60 :lipstick: feat: Modified MapNav style
  frontend/src/components/atoms/buttons/MapLevelButton.tsx
  frontend/src/components/atoms/buttons/MyLocationButton.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/organisms/MapNav.tsx
  frontend/src/themes/muiCustomTheme.tsx
Labels: frontend

#61 :bug: fix: map level control
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/redux/slices/mapSlice.ts
Labels: bug, frontend

#63 :lipstick: feat: Modified NavTemplate, InputInstance style
  frontend/src/components/atoms/inputs/InputInstance.tsx
  frontend/src/components/templates/NavTemplate.tsx
Labels: frontend

#62 Fe/nav template style
  frontend/.eslintrc.cjs
  frontend/src/App.tsx
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/atoms/buttons/MapLevelButton.tsx
  frontend/src/components/atoms/buttons/MyLocationButton.tsx
  frontend/src/components/atoms/buttons/PageNavigateButton.tsx
  frontend/src/components/atoms/inputs/InputInstance.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/organisms/LoginNav.tsx
  frontend/src/components/organisms/MapNav.tsx
  frontend/src/components/templates/HeaderTemplate.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/components/templates/NavTemplate.tsx
  frontend/src/network/axios/axios.custom.ts
  frontend/src/pages/Detail.tsx
  frontend/src/redux/slices/mapSlice.ts
  frontend/src/styles/GlobalStyle.tsx
  frontend/src/themes/muiCustomTheme.tsx
  frontend/src/types/dto/EventSummaryResponse.dto.ts
Labels: frontend

#65 Fe/axios custom
  frontend/src/components/organisms/EventSummaryOverlay.tsx
  frontend/src/network/axios/axios.auth.ts
  frontend/src/network/axios/axios.custom.ts
  frontend/src/network/axios/axios.density.ts
  frontend/src/network/axios/axios.event.ts
Labels: feat, frontend

#67 :sparkles: feat: Add keyword search
  frontend/src/components/organisms/LoadMap.tsx
Labels: frontend

#71 :memo: add swagger for auth module
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google/auth.google.controller.ts
  backend/src/auth/jwt/guard/jwt.sign.guard.ts
  backend/src/auth/kakao/auth.kakao.controller.ts
  backend/src/auth/naver/auth.naver.controller.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/dto/request/user.register.request.dto.ts
  backend/src/main.ts
Labels: documentation, backend

#72 Pop 76 회원탈퇴 기능 구현
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/google/auth.google.controller.ts
  backend/src/auth/google/google.strategy.ts
  backend/src/auth/jwt/guard/jwt.sign.guard.ts
  backend/src/auth/kakao/auth.kakao.controller.ts
  backend/src/auth/kakao/kakao.strategy.ts
  backend/src/auth/naver/auth.naver.controller.ts
  backend/src/auth/naver/naver.strategy.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/config/configuration.ts
  backend/src/dto/request/user.register.request.dto.ts
  backend/src/main.ts
Labels: backend, feat

#73 :sparkles: feat: Add Detail page
  frontend/src/components/atoms/buttons/CallButton.tsx
  frontend/src/components/organisms/DetailContent.tsx
  frontend/src/components/organisms/EventMarker.tsx
  frontend/src/components/organisms/LoadMap.tsx
  frontend/src/components/templates/DetailTemplate.tsx
  frontend/src/pages/Detail.tsx
  frontend/src/types/dto/EventDetailResponse.dto.ts
Labels: frontend

#75 Pop 79 비밀번호 찾기 및 변경 기능 구현
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/config/configuration.ts
  backend/src/config/mailer.config.ts
  backend/src/dto/request/id.body.request.dto.ts
  backend/src/dto/request/password.body.request.dto.ts
  backend/src/dto/request/user.register.request.dto.ts
  backend/src/utils/email.sender.component.ts
  backend/src/utils/kakao.search.component.ts
  backend/src/utils/templates/find.password.hbs
  backend/src/utils/utils.module.ts
Labels: backend, feat
