Repository populmap/populmap, pull requests merged in 2023-01, with the labels that each got.

#164 feat: Apply Bookmark API reload
  frontend/src/components/atoms/buttons/BookmarkApiButton.tsx
  frontend/src/components/templates/ListTemplate.tsx
  frontend/src/redux/slices/reloadSlice.ts
  frontend/src/redux/store.ts
Labels: feat, frontend

#166 :bug: 같은 행사가 여러개 보이는 버그 수정 #165
  backend/src/event/repository/event.repository.ts
Labels: bug, backend

#168 fix: OAuth login && Signup logic
  frontend/src/components/atoms/buttons/LoginSumbitButton.tsx
  frontend/src/components/atoms/buttons/SignupSubmitButton.tsx
  frontend/src/components/templates/MainTemplate.tsx
  frontend/src/hooks/useGetToken.ts
Labels: frontend
